
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bad news!</h1>
    <p>
      The carpool for <%= @project.title %> on <%= @project.date %> is cancelled.
    </p>
    <p>
      Please visit <%= @url %> to sign up as a driver or find another ride.
    </p>
  </body>
</html>
