nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 3px;
  font-family: 'News Cycle', sans-serif;
  background-color: #80B541;
}

.session_control a:not(#Google-login), .main-links a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 55px;
  font-size: 30px;
  margin-right: 25px;
}

.logo {
  text-align: center;
}

.logo a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 55px;
  font-size: 40px;
}

.logo a img {
  position: relative;
  top: 3px;
  width: 40px;
  height: 40px;
}

.session_control {
  position: absolute;
  top: 0;
  right: 0px;
}

.main-links {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 25px;
}

#Google-login button {
  display: block;
  width: 191px;
  height: 46px;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-image: url('/img/google/2x/normal.png');
  margin-right: 6px;
  margin-top: 6px;
}

#Google-login button:focus {
  background-image: url('/img/google/2x/focus.png');
}

#Google-login button:active {
  background-image: url('/img/google/2x/pressed.png');
}

#Google-login button:disabled {
  background-image: url('/img/google/2x/disabled.png');
}
