#user-enrollment {
  h1   {
    text-align: center;
  }

  form {
    width: 600px;
    margin: 0 auto;
  }

  .avatar_preview {
    width: 80px;
    height: 80px;
    object-fit: cover;
    float: left;
    margin: 0 10px 10px 0;
  }

  form>label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

  form label::after {
    content: ':';
  }

  input {
    height: 20px;
    width: 250px;
  }

  section.about {
    clear: both;
  }

  textarea {
    width: 600px;
    height: 200px;
  }
}

#user-info {
  width: 600px;
  margin: 0 auto;
  min-height: 200px;

  .avatar {
    width: 160px;
    height: 160px;
    object-fit: cover;
    float: left;
    margin: 0 15px 15px 0;
  }

  .about {
    margin-top: 15px;
  }
}

#owned-things {
  display: flex;
  justify-content: space-evenly;

  h3 {
    margin-top: 0px;
  }
}

#addresses, #vehicles {
  flex-basis: 45%;
  min-width: 350px;
  background-color: #D7EDC2;
  box-shadow: 0 0 3px;
  box-sizing: border-box;
  padding: 15px;
}

.address, .vehicle {
  position: relative;
}

.address:not(:last-of-type), .vehicle:not(:last-of-type) {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: #808080 1px solid
}

.address form, .vehicle form {
  position: absolute;
  top: 0px;
  right: 0px;
}

div.hidden {
  display: none;
}

.modal {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);

  form {
    display: inline-block;
    width: 570px;
    height: 370px;
    padding: 15px;
    background-color: #FFF8EF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
  }

  h3 {
    margin-top: 0;
  }
}
