<main id="user-profile">
  <section id="user-info">
    <img class="avatar" src="<%= user.avatar_image %>">
    <span class="name"><%= user.full_name %></span>
    <span class="email"><%= user.email %></span>
    <article class="about"><%= user.about %></article>
  </section>
</main>
